*.txt
*.lnk
SendToBK/Mail Recipient.MAPIMail
SendToBK/Compressed (zipped) Folder.ZFSendToTarget
SendToBK/Documents.mydocs
SendToBK/desktop.ini
*.mbtree
*.log
FFMPEG - TEST.bat
x264_lookahead.clbin
TEST.bat
.megaignore
FFMPEG - NEW.bat
snippets.bat
