*.txt
*.lnk
SendToBK/Mail Recipient.MAPIMail
SendToBK/Compressed (zipped) Folder.ZFSendToTarget
SendToBK/Documents.mydocs
SendToBK/desktop.ini
*.mbtree
*.log
FFMPEG - TEST.bat
x264_lookahead.clbin
TEST.bat
.megaignore
FFMPEG - NEW.bat
FFMPEG - h264 5mbps AAC 256k.bat
FFMPEG - HQ h264 20mbps AAC 320k.bat
FFMPEG - HQ h264 20mbps AAC 320k.bat
